base-font(scale)
	initialFontSize = 16px
	font: initialFontSize * scale 'Roboto', 'Helvetica', Arial, sans-serif

body
	base-font(1)
h1
	color: primaryText
	base-font(3)

h2
	color: secondaryTextColor
	+above(mobile)
		base-font(1)

	+above(desktop)
		base-font(2)

h3

h4

h5

p
	1 rem
