.vertical-align
	display: table
	width: 100%
	height: 100%
	table-layout: fixed

	> .top
		display: table-cell
		vertical-align: top

	> .middle
		display: table-cell
		vertical-align: middle

	> .bottom
		display: table-cell
		vertical-align: bottom
