head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

	link(type='text/css', rel='stylesheet', href='assets/css/index.css')
