block variables

doctype html
html(lang="en")
	include ./head.jade

	body
		h1 Jade engine running with stylus and coffeescript
		//- include ./header.jade
		//- include ./main.jade
		main
		include ./components/footer.jade
		script(src="assets/js/index.js")
